html, body, ul
{
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei;
}

input, button, select
{
    border: none;
    font-family: Microsoft YaHei;
}

input:focus, button:focus, select:focus
{
    outline: none;
}

html, body
{
    min-width: 1290px;
    overflow-x: hidden;
    background-color: #eee;
}

li
{
    list-style: none;
}

h1, h2
{
    font-weight: normal;
}

/*顶部导航*/

header.header
{
    position: relative;
    height: 60px;
    line-height: 60px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 100px;
    background-color: #fff;
}

header .logo-area
{
    display: block;
    float: left;
    height: 100%;
    padding-left: 48px;
    background-image: url("../img/logo.png");
    background-position: left center;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

header .login-area
{
    float: right;
    display: block;
    text-indent: 20px;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url("../img/user.png");
    background-position: 20px center;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #e74f4d;
    border: solid 1px #fff;
    border-radius: 10px;
    transition: border-color 0.5s;
}

header .login-area:hover
{
    border-color: #e74f4d;
}

header nav
{
    float: right;
}

header nav ul
{
    float: right;
    width: 600px;
}

header nav ul li
{
    position: relative;
    float: left;
    width: 20%;    
}

header nav ul li a
{
    display: block;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: color 1s;
}

header nav ul li:last-child::after
{
    content: " ";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #e74f4d;
    left: 0;
    bottom: 0;
    transition: left 0.5s ease-in-out;
}

header nav ul li:nth-child(1)[id*="nav-current"]~li:last-child::after
{
    left: -400%;
}
header nav ul li:nth-child(2)[id*="nav-current"]~li:last-child::after
{
    left: -300%;
}
header nav ul li:nth-child(3)[id*="nav-current"]~li:last-child::after
{
    left: -200%;
}
header nav ul li:nth-child(4)[id*="nav-current"]~li:last-child::after
{
    left: -100%;
}
header nav ul li:nth-child(1):hover~li:last-child::after
{
    left: -400%;
}
header nav ul li:nth-child(2):hover~li:last-child::after
{
    left: -300%;
}
header nav ul li:nth-child(3):hover~li:last-child::after
{
    left: -200%;
}
header nav ul li:nth-child(4):hover~li:last-child::after
{
    left: -100%;
}
header nav ul li:last-child:hover::after
{
    left: 0 !important;
}

header nav il #nav-current a, header nav ul li:hover>a
{
    color: #e74f4d;
}

/*大图概览*/

#hero
{
    position: relative;
    height: 65vw;
    min-height: 680px;
    padding-top: 20%;
    padding-left: 10%;
    box-sizing: border-box;
    color: #fff;    
    background-image: url("../img/hero.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#hero::before
{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    visibility: visible;
    transition: background-color 0.5s, visibility 0.5s;
}

#hero:hover::before
{
    background-color: transparent;
    visibility: hidden;
}

#hero h1
{
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 4em;
}

#hero p
{
    margin: 0.2em 0;
    font-size: 1.4em;
}

#hero button
{
    margin-top: 100px;
    padding: 10px 100px;
    font-size: 2em;
    color: #fff;
    background-color: #e74f4d;
    transition: background-color 0.5s, color 0.5s;
    -webkit-transition: background-color 0.5s, color 0.5s;
}

#hero button:hover
{
    cursor: pointer;
    color: #e74f4d;
    background-color: rgba(0, 0, 0, 0.5);
}

/*特色介绍*/

#intro
{
    height: 650px;
}

#intro ul li
{
    float: left;
    width: 25%;
    text-align: center;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 70px;
}

#intro ul li p
{
    padding: 5px 0;
    line-height: 30px;
    margin-top: 150px;
    margin-bottom: 50px;
    color: #555;
    border-right: solid 2px #333;
    transition: color 0.5s;
}

#intro ul li:hover p
{
    color: #e74f4d;
}

#intro ul li:last-child p
{
    border: none;
}

#intro ul li:nth-child(1)
{
    background-image: url(../img/intro_1.jpg);
}

#intro ul li:nth-child(2)
{
    background-image: url(../img/intro_2.jpg);
}

#intro ul li:nth-child(3)
{
    background-image: url(../img/intro_3.jpg);
}

#intro ul li:nth-child(4)
{
    background-image: url(../img/intro_4.jpg);
}

#intro > p
{
    clear: both;
    margin: 0;
    padding-top: 230px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    color: #aaa;
    background-image: url("../img/logo_big.png");
    background-position-x: center;
    background-position-y: 100px;
    background-repeat: no-repeat;
}

/*活动查询*/

#actives .cities
{
    margin: 0;
    padding-top: 100px;
    height: 350px;
    background-image: url(../img/map.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
}

#actives .cities p, #actives .cities h1
{
    
    margin: 0;
}

#actives .cities h1::after
{
    content: " ";
    display: block;
    margin: 15px auto;
    height: 3px;
    width: 50px;
    background-color: #fff;
}

#actives .cities p
{
    margin-bottom: 70px;
}

#actives .cities select, #actives .cities form input[type="submit"]
{
    width: 250px;
    height: 40px;
    font-size: 16px;
    color: #aaa;
    margin: 0 30px;
}

#actives .cities select::-ms-expand { display: none; }

#actives .cities select
{
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 20px;
    background-color: #fff;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 220px;
    background-size: 20px 20px;
    transition: color 0.3s, background-color 0.3s;
}

#actives .cities select:hover
{
    color: #fff;
    background-color: rgba(231, 79, 77, 0.3);
}

#actives .cities form input[type="submit"]
{
    color: #fff;
    background-color: rgba(231, 79, 77, 0.7);
    letter-spacing: 30px;
    text-indent: 30px;
    text-align: center;
    transition: background-color 0.5s;
}

#actives .cities form input[type="submit"]:hover
{
    background-color: #e74f4d;
}

/*活动展示*/

#actives .disp
{
    padding: 0 10%;
}

#actives .disp ul
{
    height: 548px;
    background-color: #eee;
}

#actives .disp ul li
{
    float: left;
    position: relative;
    width: 25%;
    height: 408px;
    margin: 70px 0;
    cursor: pointer;
}

#actives .disp h1, #actives .disp p, #actives .disp img
{
    position: absolute;
    left: 50%;
    width: 216px;
    margin-left: -109px;
    text-align: center;
    letter-spacing: 5px;
    transition: font-size 0.5s, letter-spacing 0.5s, bottom 0.5s;
}

#actives .disp img
{
    bottom: 70px;
    border: solid .5px #ccc;
}

#actives .disp h1, .disp p
{
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 1px;
    font-size: 16px;
    bottom: 28px;
}

#actives .disp p
{
    font-size: 12px;
    color: #aaa;
    bottom: 0;
}

#actives .disp ul li:hover h1
{
    bottom: 378px;
    font-size: 22px;
    letter-spacing: 20px;
    text-indent: 20px;
}

#actives .disp ul li:hover p
{
    bottom: 350px;    
}

#actives .disp ul li:hover img
{
    bottom: 0;
}

/*details*/

#details
{
    height: 1320px;
}

#details a
{
    text-decoration: none;
    padding: 7px 50px;
    border: solid 1px;
    transition: color 0.5s, background-color 0.5s;
}

#details .active
{
    position: relative;
    z-index: 0;
    height: 760px;
    background: #fff;
    text-align: center; 
}

#details .active ul
{
    padding-top: 600px;
    padding-left: 75%;
}

#details .active ul li
{
    display: inline;
    padding: 0 5px;
}

#details .active ul li input[type="radio"]
{
    cursor: pointer;
    position: absolute;
    z-index: 3;
    opacity: 0;
    width: 17px;
    height: 17px;
    margin: 0;
    padding: 0;
    border: solid 1px #aaa;
    border-radius: 50%;
}

#details .active ul li > span
{
    display: inline-block;
    z-index: 3;
    width: 12px;
    height: 12px;
    border: solid 2px #aaa;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 0.5s;
}

#details .active ul li input[type="radio"]:checked~span
{
    background-color: #aaa;
}

#details .active ul li div
{
    float: left;
    position: absolute;
    z-index: 1;
    top: 0;
    height: 760px;
    transition: background-size 0.5s, right 0.5s, opacity 1s;
}

#details .active ul li input[type="radio"]:checked~.left
{
    opacity: 1;
}

#details .active ul li input[type="radio"]:checked~.right
{
    right: 0;
}

#details .active ul li .left
{
    width: 75%;
    height: 100%;
    left: 0;
    padding-top: 230px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    opacity: 0;
    text-align: center;
    color: #fff;
}

#details .active ul li .left::after
{
    content: " ";
    position: absolute;    
    top: 350px;
    border-width: 30px;
    border-style: solid;
    border-color: transparent;
    border-right-width: 50px;
    border-right-color: #fff;
    right: 0;
}

#details .active ul li .left:hover
{
    background-size: 120% 120%;
}

#details .active ul li .left h1
{
    margin: 0;
    font-size: 10em;
}

#details .active ul li .left h2
{
    margin: 0;
    font-size: 3em;
    line-height: 0.8em;
}

#details .active ul li .left p, #details .active ul li .left time
{
    margin: 0;
    font-size: 2em;   
}

#details .active ul li .right
{
    width: 25%;
    right: -10000px;
    box-sizing: border-box;
    padding: 80px;
}

#details .active ul li .right h1
{
    font-size: 22px;    
    height: 30px;
    margin: 20px 0;
}

#details .active ul li .right h1 span
{
    color: #e74f4d;
}

#details .active ul li .right h1 i
{
    margin: 0 0.4em;
    font-stretch: ultra-expanded;
}

#details .active ul li .right p
{
    max-height: 300px;
    margin: 50px 0;
    text-align: left;
    overflow: auto;
    line-height: 2em;
    color: #aaa;
}

#details .active ul li .right a
{
    font-size: 18px;
    height: 40px;
}

#details .about
{
    height: 560px;
}

#details .about .left
{
    float: left;
    width: 37.5%;
    height: 100%;
    box-sizing: border-box;
    padding: 180px 0;
    font-size: 24px;
    color: #000;
    background-color: #fff;
    text-align: center;
}

#details .about .left:first-child
{
    color: #fff;
    background-color: #e74f4d;
}

#details .about .right
{
    float: right;
    position: relative;        
    width: 25%;
    height: 100%;
    background-image: url(../img/station.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#details .about .right::before
{
    content: " ";
    position: absolute;    
    top: 250px;
    border-width: 30px;
    border-style: solid;
    border-color: transparent;
    border-left-width: 50px;
    border-left-color: #fff;
    left: 0;
}

#details .about .left p:nth-child(2)::after
{
    content: " ";
    display: block;
    height: 2px;
    width: 45px;
    margin: 40px auto;
    background-color: #fff;
}

#details .about .left:nth-child(2) p:nth-child(2)::after
{
    background-color: #aaa;    
}

#details .about .left:first-child a, #details .about .left:nth-child(2) a:hover, #details .active a:hover
{
    color: #fff;
    background-color: #e74f4d;
}

#details .about .left:nth-child(2) a, #details .about .left:first-child a:hover, #details .active a
{
    color: #e74f4d;
    background-color: #fff;
}

/*join*/

#join
{
    padding: 70px 300px;
    text-align: center;
    color: #aaa;
    background-color: #fff;
}

#join h1
{
    
    color: #000;
}

#join > h1::after
{
    content: " ";
    display: block;
    height: 2px;
    width: 45px;
    margin: 20px auto;
    background-color: #e74f4d;
}

#join .apply
{
    margin-top: 100px;
    height: 360px;
    font-size: 0.7em;
    text-align: left;
}

#join .apply .left
{
    float: left;
    width: 288px;
    line-height: 2em;
}

#join .apply .right
{
    height: 360px;
    padding-left: 388px;
}

#join .apply .left .more
{
    text-align: right;
}

#join .apply .right input, #join .apply .right textarea
{
    display: block;
    padding: 10px;
    color: #000;
    background-color: #eee;
    border: solid 1px #eee;
    box-sizing: border-box;
    transition: color 0.3s, background-color 0.3s;
}

#join .apply .right input[type="text"]
{
    width: 48%;
    margin: 10px 1%;
}

#join .apply .right input:nth-child(1), #join .apply .right input:nth-child(3)
{
    float: left;
}

#join .apply .right input:nth-child(2), #join .apply .right input:nth-child(4)
{
    float: right;
}

#join .apply .right textarea, #join .apply .right input[type="submit"]
{
    margin: 10px 1%;
    width: 98%;
}

#join .apply .right textarea
{
    resize: none;
    font-size: 18px;
}

#join .apply .right input[type="text"]:hover, #join .apply .right textarea:hover
{
    color: #fff;
    background: #ccc;
}

#join .apply .right input[type="text"]:focus, #join .apply .right textarea:focus
{
    background-color: #fff;
    outline: none;
}

#join .apply .right input[type="submit"]:hover
{
    color: #fff;
    background-color: #e74f4d;
}

#join .apply .right input::-webkit-input-placeholder
{
    color: #555;    
}

#join .apply .right input:-moz-placeholder       /*Firefox 18-*/
{
    color: #555;    
}

#join .apply .right input::-moz-placeholder       /*Firefox 19+*/
{
    color: #555;    
}

#join .apply .right input:-ms-input-placeholder
{
    color: #555;    
}

#com
{
    text-align: center;
    padding: 100px 0;
    color: #fff;
    background-color: #33363F;
}

#com form input
{
    margin-top: 30px;
    font-size: 16px;
    box-sizing: border-box;
}

#com form input[type="email"]
{
    padding: 12px 10px;    
    width: 600px;
}

#com form input[type="submit"]
{
    width: 100px;
    padding: 12px 20px;
    margin-left: -4px;
    color: #fff;
    background-color: #75757f;
    transition: background-color 0.3s;
}

#com form input[type="submit"]:hover
{
    background-color: #e74f4d;
}

#com div a
{
    margin: 0 15px;
    text-decoration: none;
    font-size: 40px;
    line-height: 100px;
    color: #fff;
    transition: color 0.5s, font-size 0.5s;
}

#com div a:hover
{
    font-size: 60px;
    color: #e74f4d;
}

footer
{
    padding: 20px 70px;
    color: #ccc;
    background-color: #30303a;
}

footer a
{
    text-decoration: none;
    color: #ccc;
}

footer a:nth-child(2)
{
    float: right;
}

footer a:hover
{
    color: #fff;
}